# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash log files
crash.log

# Ignore Terraform plan files
*.tfplan

# Ignore Terraform override files
override.tf
override.tf.json
*.override.tf
*.override.tf.json

# Ignore directory for Terraform working files
.terraform/
.terraform.lock.hcl

# Ignore sensitive environment files (if any)
.env

# Add .gitignore to this file:

.gitignore
